/* Need a large circle/square and small circle/square */

.big-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1px;
}

.big-square {
    height: 60px;
    width: 60px;
    margin: 1px;
}

.cityPieceHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 1px;
}

.small-square {
    height: 45px;
    width: 45px;
    margin: 1px;
}

.city {
    border: solid;
    display: flex;
}

.routeBox {
    display: flex;
    flex-direction: column;
}

.routeNode {
    height: 60px;
    width: 60px;
    border: solid;
    display: flex;
    align-items: center;
}

.board {
    border: dashed;
    border-color: aqua;
}

.playerArea {
    border: solid;
    border-color: black;
}

#turnTracker {
    font-weight: bold;
}

.playerBox {
    border: dotted;
}
.actionBar {
    display: flex;
    padding: 5px;
}

#actionInfo {
    display: flex;
    height: 20px;
}
.warningText {
    font-style: italic;
}
.pointTrackerSection {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointPieceContainer {
    height: 33px;
    width: 33px;
    font-size: 12px;
    border: solid;
    margin: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pointTrackerPiece {
    background-color: blueviolet;
    height: 7px;
    width: 7px;
    margin: 1px;
}
.collapsedContainer {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.collapsibleContainer{
    position: relative;
    min-width: 970px;
}
.collapseButton {
    position: absolute;
    top: 10px;
    right: 10px;
}
.gameLog {
    overflow: scroll;
    height: 200px;
    border: solid;
}