.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
.square {
    height: 50px;
    width: 50px;
}
.city {
    border: solid;
    display: flex;
}
.routeBox {
    display: flex;
    flex-direction: column;
}
.routeNode{
    height: 60px;
    width: 60px;
    border: solid;
    /* z-index: 5; */
}
.board{
    border: dashed;
    border-color: aqua;
}
.playerArea{
    border: solid;
    border-color: black;
}
#turnTracker{
    font-weight: bold;   
}
.playerBox{
    border: dotted;
}
.actionBar{
    display: flex;
    padding: 5px;
}
#actionInfo{
    display: flex;
    height: 20px;
}

/* Everything will need padding, maybe make it global??? */