.playerInfo {
    margin: 2px;
    height: 40px;
}

.playerError {
    color: red;
    font-style: italic;
}

input {
    border-color: black;
    border-radius: 4px;
}

select{
    margin: 2px;
}

.invalidForm {
    border-color: red;
    background-color: ivory;
}