.playerInfo {
    margin: 2px;
    height: 40px;
    display: flex;
}

.playerError {
    color: red;
    font-style: italic;
    /* We just have the below fields for bdeuggung for debgugin */
    background-color: aquamarine;
    min-height: 15px;
    min-width: 30px;
    
}

input {
    border-color: black;
    border-radius: 4px;
}
.playerNameInput{
    height: 45%
}
.invalidForm {
    border-color: red;
    background-color: ivory;
}

.colorPicker {
    height: 200px;
    width: 200px;
    border-style:solid;
    border-radius: 4px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.colorSelection {
    height: 21%;
    width: 21%;
    border-style:solid;    
    border-color: white;
}
.colorSelection:hover{
    border-color: black;

}

.colorButton{
    height: 30px;
    width: 30px;
    border-style: dotted;
    border-color: black;
}
.colorButton:hover{
    border-style: solid;
}
