/* ---------------- COLOR PICKER ------------------*/
.colorPicker {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.colorSelection {
    height: 21%;
    width: 21%;
    border-style: solid;
    border-color: white;
}

.colorSelection:hover {
    border-color: black;

}

.colorButton {
    height: 30px;
    width: 30px;
    border-style: dotted;
    border-color: black;
}

.colorButton:hover {
    border-style: solid;
}
/* ---------------- PLAYER NAME ------------------*/

.playerInfo {
    margin: 2px;
    height: 40px;
}

.playerError {
    color: red;
    font-style: italic;
}

input {
    border-color: black;
    border-radius: 4px;
}

select{
    margin: 2px;
}

.invalidForm {
    border-color: red;
    background-color: ivory;
}