.errorText {
    color: red;
    font-style: italic;
}

#mainContainer {
    display: flex;
}

#leftSideWrapper {
    width: 50%;
}

#participantSettings {
    height: 100px;
}

.chatArea{
    background-color:antiquewhite;
    border-color: grey;
    border-style: solid;
}

#readyUpButton {
    color: #33b249;
    border-color: #33b249;
}