.big-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 1px;
}

.big-square {
    height: 60px;
    width: 60px;
    margin: 1px;
}

.small-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 1px;
}

.small-square {
    height: 30px;
    width: 30px;
    margin: 1px;
}

.city {
    border: solid;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.cityPieceArea {
    display: flex;
    flex-direction: row;
}

.cityPieceHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.routeBox {
    display: flex;
    flex-direction: column;
}

.routeNode {
    height: 45px;
    width: 45px;
    position: absolute;
    border: solid;
    display: flex;
    align-items: center;
}

.board {
    border: dashed;
    border-color: aqua;
    overflow: scroll;
    width: 1200px;
    height: 650px;
    /* may need to deal with scrolling issues later*/
}

.playerArea {
    border: solid;
    border-color: black;
}
.playerBoardArea{
    border: solid;
    border-color: black;
}
#turnTracker {
    font-weight: bold;
}

.playerBox {
    border: dotted;
}

.actionBar {
    display: flex;
    padding: 5px;
}

#actionInfo {
    display: flex;
    height: 20px;
}

.warningText {
    font-style: italic;
}

.pointTrackerSection {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointPieceContainer {
    height: 33px;
    width: 33px;
    font-size: 12px;
    border: solid;
    margin: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pointTrackerPiece {
    background-color: blueviolet;
    height: 7px;
    width: 7px;
    margin: 1px;
}

/* .collapsedContainer {
    display: none !important;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsibleContainer {
    position: relative;
    min-height: 30px;
    min-width: 970px;
} */

.collapseButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.gameLog {
    overflow: scroll;
    height: 200px;
    border: solid;
}

/* Player Info Board and Components */
.playerInfoBoard {
    background-color: bisque;
    border: solid;
    height: 500px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* will get ride of height and width eventually */
}
.playerInfoBoardBanner{
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 2px;
    font-size: 30px;
}
/* #playerInfoBoardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
#playerBoardAreaIncludingButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrowButton{
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 2px;
    border-style: solid;
}

#boardComponentBanner {
    height: 20%;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 2px;
}

.keysTracker {
    display: flex;
    margin: 10px;
}

.keysDiv {
    height: 70px;
    width: 35px;
    margin: 2px;
}

.actionTracker {
    display: flex;
    margin: 10px;
}

.actionDiv {
    height: 90px;
    width: 70px;
    margin: 2px;
    background-color: wheat;
}

.tokenTracker {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 2px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tokenHolder {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: grey;
    border: solid;
}

.colorTracker {
    height: 120px;
    width: 31%;;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: wheat;
}

.colorDiv {
    margin: 2px;
    height: 30px;
    width: 30px;
}

.movesTracker {
    display: flex;
    margin: 10px;
    width: 31%;;
    background-color: wheat;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movesDiv {
    height: 70px;
    width: 50px;
    margin: 2px;
}

.purseTracker {
    width: 31%;;
    display: flex;
    margin: 10px;
}

.purseDiv {
    height: 90px;
    width: 70px;
    margin: 2px;
    background-color: wheat;
}

.unlockableShape {
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unlockableShapeColors {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lockedShape {
    height: 15px;
    width: 15px;
}

.supplyArea{
    height: 100px;
    width: 45%;
    background-color: aquamarine;
    border: solid;
}

.bankArea{
    height: 100px;
    width: 45%;
    background-color: peachpuff;
    border: solid;
}
/* pieceTracker is used by both bank and supply */
.pieceTracker{
    /* probably just need flex and nothing else
    might need direction and wrap*/
    display: flex;
    flex-direction: row;
}

.tinyPiece{
    height: 15px;
    width: 15px;
    margin: 2px;
}

/* Utility Classes */
.centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
}

.collapsedContainer {
    display: none !important;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsibleContainer {
    position: relative;
    min-height: 30px;
    min-width: 970px;
}

.banner{
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.testCityDiv{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: goldenrod;

}

.testSinglePixel{
    height: 5px;
    width: 5px;
    background-color: chartreuse;
    position: absolute;
    z-index: 10;
}

.testBigPixel{
    height: 10px;
    width: 10px;
    background-color: magenta;
    position: absolute;
    z-index: 10;
}